[Desktop Entry]
Name=Bing Wallpaper Info
Comment=A widget to show the bing wallpaper info

Type=Service
Icon=viewimage
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Jan
X-KDE-PluginInfo-Email=mail@j-plis.de
X-KDE-PluginInfo-Name=com.github.janniboy951.bingwallpaperinfo
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/janniboy951/bingwallpaperinfo
X-KDE-PluginInfo-Category=System Information
